.full{
  background-color: rgb(207, 207, 207);
  width: 100%;
  height: 550px;
}
  form{
  padding-left: 100px;
  padding-right: 100px;
}

.head1{
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  padding-top: 2%;
}
.para-1{
  text-align: center;
  font-size: 25px;
}
.form-label{
  color: black;
  font-size: 13px;
  font-weight: 600;
}
#first-name{
  font-size: 15px;
  font-weight: 500;
  color: gray;
}
#last-name{
  font-size: 15px;
  font-weight: 500;
  color: gray;
}
#phone-number{
  font-size: 15px;
  font-weight: 500;
  color: gray;
}
#email{
  font-size: 15px;
  font-weight: 500;
  color: gray;
}
#validationTextarea{
  font-size: 15px;
  font-weight: 500;
  color: gray;
}
 .form-control:hover{
  border: none;
 border-color: white;
} 
.was-validated .form-control:valid,
.was-validated .form-control:invalid {
  background-image: none !important; 
  padding-right: 0; 
}
